<div class="block">
    <h2>Register</h2>
    <form [formGroup]='form' (ngSubmit)="submit()">
        
        <div class="form-group">
            <label class="label">Email</label>
            <input class="input" placeholder="Email" type="text" formControlName="email"/>
            <div *ngIf = "form.get('email').invalid && form.get('email').touched"
            class="validation">
                <small  *ngIf = "form.get('email').errors.required">This field can't be empty</small>
                <small *ngIf = "form.get('email').errors.email">Email invalid</small>
            </div>
        </div>

        <div class="form-group">
            <label class="label">Fullname</label>
            <input class="input" placeholder="Fullname" type="fullname" formControlName="fullname"/>
            <div class = "validation" *ngIf = "form.get('fullname').invalid && form.get('fullname').touched">
                <small  *ngIf = "form.get('fullname').errors.required">This field can't be empty</small>
            </div>
        </div>

        <div class="form-group">
            <label class="label">Password</label>
            <input class="input" placeholder="Password" type="password" formControlName="password"/>
            <div class = "validation" *ngIf = "form.get('password').invalid && form.get('password').touched">
                <small  *ngIf = "form.get('password').errors.required">This field can't be empty</small>
                <small *ngIf = "form.get('password').errors.minlength">Password must be at least {{form.get('password').errors.minlength.requiredLength}} characters.
                    The number of characters is {{form.get('password').errors.minlength.actualLength}}.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="label">Register as</label> 
            <select class="input" (ngModelChange)="onChange($event)"  formControlName="role">
                <option value="admin">admin</option>
                <option value="user">user</option>
             </select>
        </div>
        
        
        <button type="submit" class="btn" [disabled] = 'form.invalid'  
        [ngClass]="{'btn_primary':form.valid,
        'btn_disabled':form.invalid
        }">Register</button>
        <p class="redirect">If you are already registered, please <a [routerLink]="['','login']">Log In</a></p>
        <!-- <a href="#" class="btn btn_link">Register</a> -->
    </form>
</div>
