<div class="task" >
    <input  type='checkbox' (change)="saveChanges(item)" [checked]="item.selected" [(ngModel)]="item.selected">
    <input class="text-input"   (blur)="saveChanges(item)"  name="task" placeholder="Enter task"  [(ngModel)]="item.text" />
    <div class="blockTime">
        <div  [ngClass]="{'time-hover':!('create' | able: 'Todo')}" class="time">{{(item.time | relative:test)}}</div>
        <button [ngClass]="{'delete-hover':('create' | able: 'Todo')}" (click)="removeTask(item)">✖</button>
    </div>
</div>   