:host{
    background: transparent;
}
.card{
    margin: 80px auto;
    width: 800px;
    background: #fff;
    border-radius: 25px;
    padding-bottom: 30px;
    .header{
        display: flex;
        background: #fff;
        border-radius: 25px 25px 0 0;
        justify-content: space-between;
        position: relative;
        border-bottom:1px solid #e0e9f1;
        font-family: 'Roboto', sans-serif;
        padding: 30px 30px;
        .date{
            display: flex;
            background: #fff;
            flex-direction: column;
            text-align: left;
            
            h1{
                background: #fff;
                font-size: 35px;
                color: #666afb;
                font-weight: 500;
                span{
                    background: #fff;
                }
            }
            .month{
                background: #fff;
                color:#cdcdd9;
                font-size: 18px;
            }
        }
        .tasks{
            background: #fff;
            color:#cdcdd9;
            font-size: 18px;
        }
        .addBtn{
            background: #fff;
            position: absolute;
            bottom: -25px;
            right: 30px;
            background-color: #f37374;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            .plus{
                background: transparent;
                color: #fff;
                font-size: 24px;
            }
        }
    }
}