<div class="card">

    <div class="header">
        <div class="date">
            <h1>{{ date | date:"EEEE"}},<span>{{ (date | date: "d") | ordinal }}</span></h1>
            <p class="month">{{ date | date:"MMMM"}}</p>
        </div>
        <div class="tasks">
            {{(tasks$ | async).length}} Tasks
        </div>
        <button *ngIf="'create' | able: 'Todo'" type="button" class="addBtn" (click)="addTask()"><div class="plus">&#43;</div></button>
    </div>
    
    <div class="list-tasks"  *ngFor="let item of tasks$ | async">
        <app-task [item]='item'></app-task>
    </div>
       
</div>

