:host{
    background: transparent;
}
.card{
    margin: 80px auto;
    width: 800px;
    background: #fff;
    border-radius: 25px;
    padding-bottom: 30px;
    .header{
        display: flex;
        background: #fff;
        border-radius: 25px 25px 0 0;
        justify-content: space-between;
        position: relative;
        border-bottom:1px solid #e0e9f1;
        font-family: 'Roboto', sans-serif;
        padding: 30px 30px;
        .date{
            display: flex;
            background: #fff;
            flex-direction: column;
            text-align: left;
            
            h1{
                background: #fff;
                font-size: 35px;
                color: #666afb;
                font-weight: 500;
                span{
                    background: #fff;
                }
            }
            .month{
                background: #fff;
                color:#cdcdd9;
                font-size: 18px;
            }
        }
        .tasks{
            background: #fff;
            color:#cdcdd9;
            font-size: 18px;
        }
        .addBtn{
            background: #fff;
            position: absolute;
            bottom: -25px;
            right: 30px;
            background-color: #f37374;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            .plus{
                background: transparent;
                color: #fff;
                font-size: 24px;
            }
        }
    }
   
    .list-tasks{
       
        .task{
            display: flex;
            border-bottom: 1px solid #d3d3e1;       
            background: #fff;
            align-items: center;
            padding:10px 30px;
            [type="checkbox"]:checked {
                content: "";
                filter:invert(19%) sepia(91%) saturate(932%) hue-rotate(300deg) brightness(148%) contrast(94%); 
              }
              .blockTime{
                display: flex;
                background: #fff;
                flex-direction: column;
                align-items: flex-end;
                text-align: end;
                width: 25%;
                button{
                   
                    display: none;
                }
            }
             
            &:hover{
                border-bottom: 1px solid transparent;;
                -webkit-box-shadow: 0px -5px 6px -3px rgba(211, 211, 225, 0.6) inset;
                -moz-box-shadow: 0px -5px 6px -3px rgba(211, 211, 225, 0.6) inset;
                box-shadow: 0px -5px 6px -3px rgba(211, 211, 225, 0.6) inset;
                .blockTime{
                    
                        button{
                            display: flex;
                            
                            align-items: center;
                            background: transparent;
                            border: none;
                            outline: none;
                            padding: 5px;
                            cursor: pointer;
                            &:first-child{
                               color: #f37374;
                            }
                            &:last-child{
                                color: rgb(86, 110, 38);
                            }        
                }
                .time-hover{
                    display: none;
                }
                .delete-hover{
                    display: none;
                }
                }
            }
         
            .text-input{
                background: #fff;
                outline: none;
                border: none;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                color: #82829c;
                width: 85%;
                padding: 20px 10px;
                &::placeholder {
                    color: #d6d6e4 ;
                  }
            }
            .time{
                background: #fff;
                display: flex;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                color: #82829c;
            }
        }
    }
     
}



