<div class="card">

    <div class="header">
        <div class="date">
            <h1>Thuesday,<span> 10th</span></h1>
            <p class="month">December</p>
        </div>
        <div class="tasks">
            12 Tasks
        </div>
        <button type="button" class="addBtn" (click)="addInput()"><div class="plus">&#43;</div></button>
    </div>
    
    <div class="list-tasks"  *ngFor="let item of tasks">
        
        <div class="task" >
            <input  type='checkbox'>
            <input class="text-input" name="task" placeholder="Enter task"/>
            <div class="time">12:35</div>
        </div>
        <!-- <div class="task">
            <input class="checkbox" type='checkbox'>
            <input class="text-input" name="task" ngModel="task" />
            <div class="time">12:35</div>
        </div>
        <div class="task">
            <input class="checkbox" type='checkbox'>
            <input class="text-input" name="task" ngModel="task" />
            <div class="time">12:35</div>
        </div> -->
        
       
    </div>
       
</div>

